/* 4 - External */
body{
    padding-bottom: 500px;
}

h3 {
    color: #532473;
}

p {
    color: #A60A27;
}

/* Algum comentário */
/* Mais um comentario */
/* Terceiro comentário */

/* Classes */

.paragraph {
    color: darkcyan;
    background-color: black;
    padding: 5px;
}

/* id */
#exclusive-title {
    color: burlywood;
    background-color: darkred;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green
}